<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="module">
      <h2 data-cy="moduleDetailsHeading"><span jhiTranslate="npGatewayApp.npCoreModule.detail.title">Module</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ module.id }}</span>
        </dd>
        <dt><span jhiTranslate="npGatewayApp.npCoreModule.name">Name</span></dt>
        <dd>
          <span>{{ module.name }}</span>
        </dd>
        <dt><span jhiTranslate="npGatewayApp.npCoreModule.acronym">Acronym</span></dt>
        <dd>
          <span>{{ module.acronym }}</span>
        </dd>
        <dt><span jhiTranslate="npGatewayApp.npCoreModule.npalId">Npal Id</span></dt>
        <dd>
          <span>{{ module.npalId }}</span>
        </dd>
        <dt><span jhiTranslate="npGatewayApp.npCoreModule.npalCatalog">Npal Catalog</span></dt>
        <dd>
          <span>{{ module.npalCatalog }}</span>
        </dd>
        <dt><span jhiTranslate="npGatewayApp.npCoreModule.semester">Semester</span></dt>
        <dd>
          <span>{{ module.semester }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/module', module.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
